  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 300;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  html {
    scroll-behavior: smooth; 
  }
  * {
    box-sizing: border-box;
  }
  header {
   height: 100px;
   background-color: #5656c9;
  }
  .main {
    margin-bottom: auto;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height:1.5;
    color: #000000;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100px;
    margin: auto;
  }
  .nav {
     font-size: 22px;
  }
  .pre {
    padding: 0;
    margin: 0;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-content {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100px;
   margin: 0 auto;
   background-color: #5656c9;
}
.profile-photo {
  width: 135px;
  height: 190px;
}
.profile-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
section {
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #1619b1;
}

#rs-logo {
  width: 60px;
}
a { 
  text-decoration: none; 
}
.section-list {
  list-style-image:url(/assets/img/round.jpg);
}
.section-education,
.section-english {
  border-bottom: 0;
}
.title {
  margin-bottom: 20px;  
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1619b1;
}
.name-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 7px;
  line-height: 50px;
  word-spacing: 2px;
}
.name-subtitle {
  margin-top: 20px;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}
a:hover {
  color: rgb(201, 18, 18);
}
